
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&family=Londrina+Solid:wght@900&family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kiwi+Maru:wght@300&family=Londrina+Solid:wght@900&family=Train+One&display=swap');

body{
    background-color: #212121;
}
.btn {
	padding: 5px;
	border-radius: 5px;
	font-family: 'Orbitron', sans-serif;
	letter-spacing: .1em;
	cursor: pointer;
	outline: none;
    background-color: #3761a8;
    color: #feca1b;
  margin-top: 20px;
}
.btn:hover {
	box-shadow: 0px 0px 7px 2px #88c3ee;
	transform: scale(1.1);
}

.card{
    top: 30px;
    width: 500px;
    height: 450px;
    margin: 0 auto;
    display: block;
    background-color: #88c3ee;
}
.txtCard{
    text-align: center;
    font-family: Anton;
}
.oak{
    margin-top: 150px;
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 270px;
}
.txt{
    margin: 0 auto;
    display: block;
    margin-top: 5px;
}
.btn{
    margin: 0 auto;
    display: block;
    margin-top: 5px;
}
/*--------------------------------------imgPOkemonHeder-----------------------------------------------------*/

.header{
    width: 500px;
    height: 150px;
    margin: 0 auto;
    display: block;
}
/*---------------------------------------container select pokemon-------------------------------------------*/
.container{
    background-color: #0691c0;
    margin-top: 100px;
    border: 1px #000;
}

.text-pokemon{
    text-align: center;
    font-family: Anton;
    padding-top: 10px;
}

.pokemon-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
.pokemon-1, .pokemon_2, .pokemon-3{
    width: 285px;
    height: 440px;
    display: inline-block;
    width: 300px;
    padding: 1em;
    border-radius: 15px;
    margin: 10px;
    background: #fff;
    text-align: left;
    box-shadow: 0px 5px 20px -10px #111111;
    position: relative;
    transition: 0.4s;
    border: 6px solid rgb(6, 105, 235);

}
.btnPokemonPiker{
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    font-family: Anton;
    letter-spacing: .1em;
    cursor: pointer;
    background-color: #5f9ea0;
    color: #fff;
    margin: 0 auto;
    display: block;
}

.imgPokemon1, .imgPokemon2, .imgPokemon3{
    background-color: #88c3ee;
    text-align: center;
    padding: 1em 1em 0;
    border-radius: 3px 3px 0 0;
    height: 260px;
    width: 260px;
    margin: 0 auto;
    display: inline-block;

}
.NamePokemon-1, .NamePokemon-2, .NamePokemon-3{
    text-align: center;
    font-family:Londrina Solid;
    color: #0d21d1;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 31px;
}
.pokemonMoves,.pokemonsMoves2{
    display: none;
}

.pokemonHP{
    display: none;
}
/*---------------------------------------------headerbattle-------------------------------------------------*/
.namePlayer{
    height: 95px;
    width: auto;
    background-color: cadetblue;

}
.player{
    font-family: Anton;
}
.namePlayertxt{
    margin: 0 auto;
    font-family: Anton;
    display: table;
    padding-top: 5px;
}
.displayText{
    font-family: Anton;
    margin-left: 20px;
    margin-top: -85px;
    position: absolute;
    font-size: 20px;
    letter-spacing: 3px;
}
.enemy{
    margin-top: -48px;
    display: block;
    position: absolute;
    right: 10px;
    margin-right: 32px;
    font-family: Anton;
    text-transform: uppercase;
}
/*------------------------------container pokemon battle---------------------------------------------*/

.btnpokemonAtack_1{

    background-color: #5f9ea0;
    color: #fff;
    margin-top: 20px;
    width: 70px;
    display: block;
    height: 20px;
}
.btnpokemonAtack_2{
    
    background-color: #5f9ea0;
    color: #fff;
    margin-top: 20px;
    width: 70px;
    display: block;
    height: 20px;
}
.btnpokemonAtack_3{
    background-color: #5f9ea0;
    color: #fff;
    margin-top: 20px;
    width: 70px;
    display: block;
    height: 20px;
}

.container-battleC{
    FONT-VARIANT: JIS83;
    background-color: #82e8a0;
    width: auto;
    height: 500px;
    margin-top: 60px;
}
.battleCamp{
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    padding-bottom: 20px;
    margin-top: -205px;
}
.namePokemon-4{
    text-transform: uppercase;
}
.imgPokemon4{
    width: 130px;
    height: 130px;
    position: absolute;
    left: 530px;
    margin-top: 50px;
}
.imgPokemon5{
    width: 205px;
    height: 205px;
    position: absolute;
    left: 300px;
    transform: scaleX(-1);
    margin-top: 0px;
}
.lifePokemonEnemy{
    width: 130px;
    height: 30px;
    background-color: greenyellow;
    border-radius: 10px;
}
.lifePokemonChosen{
    width: 130px;
    height: 30px;
    background-color: greenyellow;
    border-radius: 10px;
}
.infoPokemonMoves{
    height: 220px;
    width: 260px;
    background-color: #fff;
    margin-top: -197px;
    margin-left: 2px;
    padding: 12px;
    border-radius: 10px;
    color: cornflowerblue;
    font-family: Anton;
    text-transform: uppercase;
}
.infoPokemon_4Moves{
    height: 220px;
    width: 240px;
    background-color: #fff;
    padding: 12px;
    border-radius: 10px;
    color: cornflowerblue;
    font-size: 16px;
    top: 47px;
    font-family: Anton;
    margin-left: auto;
}
.btnBattlePokemons{
    padding: 5px;
    border-radius: 5px;
    font-family: Anton;
    letter-spacing: .1em;
    outline: none;
    background-color: #0691c0;
    color: #fff;
    margin: 0 auto;
    display: block;
    letter-spacing: 5px;
    width: 133px;
}

.btnBattlePokemons:hover{
    box-shadow: 0px 0px 7px 2px #88c3ee;
	transform: scale(1.1);
}
/*-----------------------------------------------------------------------------------------*/
   @media (max-width: 1800px) and (orientation: landscape) {
       .imgPokemon5{
        width: 205px;
        height: 205px;
        position: absolute;
        left: 714px;
        transform: scaleX(-1);
        margin-top: 0px;
    }
    .imgPokemon4 {
        width: 130px;
        height: 130px;
        position: absolute;
        left: 931px;
        margin-top: 50px;
    }

   }
