body{
    background-color: #212121;
}
button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}
.card{
    width: 250px;
    height: 250px;
    display: block;
    margin-left:auto;
    margin-right: auto;
}
/*.pokemon-list{
    display: grid;
    grid-template-columns:  100px ;

    max-width: 800px;
    margin: 100px;
}
.pokemon{
    border: 1px solid #565;
    padding: 10px;

    background: ghostwhite;
    text-align: center;
}*/

