body{
    background-color: #212121;
}
.btn {
	padding: 5px;
	border-radius: 5px;
	font-family: 'Orbitron', sans-serif;
	letter-spacing: .1em;
	cursor: pointer;
	outline: none;
    background-color: #3761a8;
    color: #feca1b;
  margin-top: 20px;
}
.btn:hover {
	box-shadow: 0px 0px 7px 2px #88c3ee;
	transform: scale(1.1);
}

.card{
    top: 50px;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: block;
}
.txtCard{
    text-align: center;
}
.oak{
    margin-top: 150px;
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
}
.txt{
    margin: 0 auto;
    display: block;
    margin-top: 5px;
}
.btn{
    margin: 0 auto;
    display: block;
    margin-top: 5px;
}
/*-----------------------------------------------------------------------------------------------------------------*/

.header{
    width: 600px;
    height: 200px;
    margin: 0 auto;
    display: block;
}

/*-----------------------------------------------------------------------------------------------------------*/
.container{
background-color: #3761a8;
margin-top: 200px;
padding: 50px;
}
.text-pokemon{
    text-align: center;
}

.pokemon_2{
    margin: 0 auto;
    display: block;

}